<style>
  footer {
    width:100%;
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position:sticky;
    top:100%;
    left:0;
    bottom:0;
  }
  h5 {
    letter-spacing: 0.1rem;
  }
  a {
    text-decoration: none !important;
  }
  .icons {
    margin: auto;
    margin-top: 1rem;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  .icons a i {
    font-size: x-large;
    color: white;
    padding-top: 0.5rem;
  }
  .icons div {
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
  }
  .social {
    width: 200px;
    text-align: center;
    margin: auto;
  }
  .lk div a {
    color: orange;
  }
  .part {
    margin: auto;
    width: 90%;
    border-bottom: 2px solid white;
    padding: 1rem;
  }
  .copyright {
    text-align: center;
    padding: 1rem;
    width: 100%;
  }
  .logo {
    margin: auto;
    min-width: 300px;
    align-items: center;
    text-align: center;
  }
  .logo a img {
    border-radius: 50%;
    border: 2px solid orange;
  }
  img:hover {
    box-shadow: 0 0 6px rgb(230, 196, 135);
  }
  .links {
    margin: auto;
    min-width: 200px;
    align-items: center;
    text-align: center;
  }
  .part div{
  
  }
</style>
<footer class="footer">
  <div class="row part">
    <div class="col logo mb-4">
      <h3>CLOUD NOTES</h3>
      <a href=""><img src="https://img.freepik.com/premium-vector/happy-cute-little-kid-boy-hold-notebook-pencil_97632-2392.jpg?" alt="" width="80"></a>
    </div>
    <div class="col links mb-4">
      <h5>HELPFULL LINKS</h5>
      <div class="lk">
        <div>
          <a href=""></i>About</a>
        </div>
        <div>
          <a href="/previcy">Previcy Policy</a>
        </div>
        <div>
          <a href="/help">Helps</a>
        </div>
        <div>
          <a href="/term">Terms & Cinditions</a>
        </div>
      </div>
    </div>
    <div class="col social">
      <h5>CONTACT CLOUD NOTES</h5>
      <div class="icons">
        <div>
          <a href="https://www.instagram.com/music_motion_0.1/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/rohit-kumar-patel-34893b259/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>
          <a href=" https://wa.me/qr/LINW2L5HKDZWD1 "><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div>
          <a href="https://rohitk0409.github.io/PortfolioRohit/"><i class="fa-solid fa-user"></i></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© copyright 2024. Made by <a href="https://rohitk0409.github.io/PortfolioRohit/" style="color: orange;">Rohit Kumar Patel</a></p>
  </div>
</footer> 

