<%- layout('/layouts/boiyerlarcode.ejs') %>
<style>
  .notes {
    padding: 2rem;
    padding-top: 6rem;
    min-height: 100vh;
  }
  input,
  textarea {
    border: 1px solid black !important;
  }
  button {
    background-color: orange !important;
    color: black !important;
  }
  form {
    min-width: 100px;
  }
</style>
<div class="notes">
  <form action="/create/<%=id %>" method="post">
    <div class="mb-4">
      <label for="title" class="form-label"><b>Title</b></label>
      <input
        type="text"
        class="form-control"
        placeholder="Write your Notes title"
        name="title"
        required
      />
    </div>
    <div class="mb-4">
      <label for="notes" class="form-label"><b>Write Your Notes</b></label>
      <textarea
        name="notes"
        id=""
        rows="11"
        class="form-control"
        placeholder="Write your notes"
        required
      ></textarea>
    </div>
    <div class="mb-4">
      <button class="btn"><b>Save</b></button>
    </div>
  </form>
</div>
