<%- layout('/layouts/boiyerlarcode.ejs') %>
<style>
  .mian {
    margin: auto;
    padding-top: 6rem;
  }
  h3 {
    letter-spacing: 2px;
    color: orange;
  }
  p {
    letter-spacing: 1px;
    font-size: large;
  }
  span {
    color: black;
  }
  .mian div {
    margin: auto;
  }
  .img {
    min-width: 200px;
    padding: 2rem;
  }
  .previcy {
  }
</style>
<div class="row mian">
  <div class="col">
    <img
      class="img"
      src="https://img.freepik.com/premium-vector/modern-digital-illustration-showcasing-young_956568-864.jpg?ga=GA1.1.678774544.1687320226&semt=ais_hybrid"
      alt=""
      width="380px"
    />
  </div>
  <div class="col previcy">
    <h3><span>Previcy Policy of</span> Cloud Notes</h3>
    <hr />
    <p>
      he privacy policy for our cloud-based notepad website explains how we
      handle your personal information and notes. We collect basic personal data
      such as your email address when you sign up, and the content of your notes
      is securely stored. We also collect usage data like IP addresses and
      browser information to help improve the service. Your data is protected
      using encryption, but we encourage users to maintain their own account
      security. We do not sell your personal data and only share it with trusted
      third-party services that help us operate the website. You can access,
      edit, or delete your data at any time, and we use cookies to improve the
      user experience. For any privacy concerns or inquiries, you can reach out
      to us at our contact information provided.
    </p>
  </div>
</div>
